* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: auto;
    text-align: center;
}

.wrapper {
    display: flex;
    padding-top: 5px;
    justify-content: center;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.player-name {
    margin-top: 60px;
}

h2 {
text-align: center;
padding: 20px;
}

p {
    text-align: center;
}

.board-container {
    display: grid;
    width: 400px;
    height: 400px;
    background-color: lightblue;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#one, #two, #four, #five {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#three, #six {
    border-bottom: 1px solid black;
}

#seven, #eight {
    border-right: 1px solid black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
}

.button-div {
    display: flex;
    justify-content: center;
    margin: 5px;
}

button {
    margin: 5px;
    padding: 2px;
}

#game-message > p {
    text-align: center;
}

#reset-div {
    height: 30px;
    display: flex;
    justify-content: center;
}

.player-names {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 450px;
    left: 370px;
    height: 300px;
    width: 700px;
    z-index: 1;
    background-color: lightcoral;
    box-shadow: 2px 2px 2px rgb(238, 87, 87);
    border-radius: 2px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-players {
    display: flex;
}

.form-players div {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

form button[type="submit"] {
    align-self: center;
}

label[for="input-1"], label[for="input-2"] {
    padding-bottom: 8px;
}

.visible {
    display: none;
}